:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-gradient: linear-gradient(135deg, #619189 0%, #191433 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--bg-gradient);
  color: #fff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}